
# macOS
.DS_Store
.gutter.json
*.gcda
*.gcno
*.xccheckout
xcuserdata
.idea
IDEWorkspaceChecks.plist
DerivedData/

## Cocoapods
Pods/
build
.build
Packages
*.xcscmblueprint

# Carthage
Carthage/Build/
*.framework.zip
